build/.DS_Store
build/african_head.obj
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CTestTestfile.cmake
build/DartConfiguration.tcl
build/Makefile
build/output.tga
build/render.tga
build/renderShaded.tga
build/tinyrenderer
build/tinyrenderer.prof
build/triangle.tga
build/triangle2.tga
build/triangle3.tga
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-216514c67f4b02042354.json
build/.cmake/api/v1/reply/codemodel-v2-b9410e3477f2d4abd456.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2022-04-15T20-43-25-0024.json
build/.cmake/api/v1/reply/target-Continuous-Debug-8412cf8b3870725ff1a9.json
build/.cmake/api/v1/reply/target-ContinuousBuild-Debug-80daf4f8740003f32cfb.json
build/.cmake/api/v1/reply/target-ContinuousConfigure-Debug-5ea28db7dc2e843e0937.json
build/.cmake/api/v1/reply/target-ContinuousCoverage-Debug-616748b07c59c7c19ba2.json
build/.cmake/api/v1/reply/target-ContinuousMemCheck-Debug-51052718db2cb3ee7c90.json
build/.cmake/api/v1/reply/target-ContinuousStart-Debug-149d24a62ada8941d32c.json
build/.cmake/api/v1/reply/target-ContinuousSubmit-Debug-e08ee2eec1439723d28a.json
build/.cmake/api/v1/reply/target-ContinuousTest-Debug-ae4bf3ef8b64b4b95ece.json
build/.cmake/api/v1/reply/target-ContinuousUpdate-Debug-a80860e99abf011e1f70.json
build/.cmake/api/v1/reply/target-Experimental-Debug-e1927954a98c0785437c.json
build/.cmake/api/v1/reply/target-ExperimentalBuild-Debug-511684b74ee8fd84a7ee.json
build/.cmake/api/v1/reply/target-ExperimentalConfigure-Debug-216c683e368a9508074c.json
build/.cmake/api/v1/reply/target-ExperimentalCoverage-Debug-cc0e33a085ea08510b7e.json
build/.cmake/api/v1/reply/target-ExperimentalMemCheck-Debug-e8da6527c577e4006cff.json
build/.cmake/api/v1/reply/target-ExperimentalStart-Debug-31af182d58a262a18983.json
build/.cmake/api/v1/reply/target-ExperimentalSubmit-Debug-ab8f2078bcbe403bc003.json
build/.cmake/api/v1/reply/target-ExperimentalTest-Debug-4b98e5c64ffc96c59478.json
build/.cmake/api/v1/reply/target-ExperimentalUpdate-Debug-ee4da264294e1cb92cba.json
build/.cmake/api/v1/reply/target-Nightly-Debug-a571c1b1bc161b60f3ab.json
build/.cmake/api/v1/reply/target-NightlyBuild-Debug-21e03b3dc569c626ce3d.json
build/.cmake/api/v1/reply/target-NightlyConfigure-Debug-66192528e26df680397c.json
build/.cmake/api/v1/reply/target-NightlyCoverage-Debug-4ca531620e2140ad3b7d.json
build/.cmake/api/v1/reply/target-NightlyMemCheck-Debug-4f7633775f2236fc6232.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-Debug-59907976f008cb1c0b58.json
build/.cmake/api/v1/reply/target-NightlyStart-Debug-5ecd948f7b64dacab056.json
build/.cmake/api/v1/reply/target-NightlySubmit-Debug-f25a8cdb4534bc6ff46e.json
build/.cmake/api/v1/reply/target-NightlyTest-Debug-79be62cc20b5e84a4931.json
build/.cmake/api/v1/reply/target-NightlyUpdate-Debug-3f0434f1e895a71e7e2a.json
build/.cmake/api/v1/reply/target-tinyrenderer-Debug-f33a19bdbd7d7f82ded9.json
build/.cmake/api/v1/reply/toolchains-v1-51d1353eee5705ed0d4f.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.23.0/CMakeCCompiler.cmake
build/CMakeFiles/3.23.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.23.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.23.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.23.0/CMakeSystem.cmake
build/CMakeFiles/3.23.0/CompilerIdC/a.out
build/CMakeFiles/3.23.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.23.0/CompilerIdCXX/a.out
build/CMakeFiles/3.23.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Continuous.dir/build.make
build/CMakeFiles/Continuous.dir/cmake_clean.cmake
build/CMakeFiles/Continuous.dir/compiler_depend.make
build/CMakeFiles/Continuous.dir/compiler_depend.ts
build/CMakeFiles/Continuous.dir/DependInfo.cmake
build/CMakeFiles/Continuous.dir/progress.make
build/CMakeFiles/ContinuousBuild.dir/build.make
build/CMakeFiles/ContinuousBuild.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousBuild.dir/compiler_depend.make
build/CMakeFiles/ContinuousBuild.dir/compiler_depend.ts
build/CMakeFiles/ContinuousBuild.dir/DependInfo.cmake
build/CMakeFiles/ContinuousBuild.dir/progress.make
build/CMakeFiles/ContinuousConfigure.dir/build.make
build/CMakeFiles/ContinuousConfigure.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousConfigure.dir/compiler_depend.make
build/CMakeFiles/ContinuousConfigure.dir/compiler_depend.ts
build/CMakeFiles/ContinuousConfigure.dir/DependInfo.cmake
build/CMakeFiles/ContinuousConfigure.dir/progress.make
build/CMakeFiles/ContinuousCoverage.dir/build.make
build/CMakeFiles/ContinuousCoverage.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousCoverage.dir/compiler_depend.make
build/CMakeFiles/ContinuousCoverage.dir/compiler_depend.ts
build/CMakeFiles/ContinuousCoverage.dir/DependInfo.cmake
build/CMakeFiles/ContinuousCoverage.dir/progress.make
build/CMakeFiles/ContinuousMemCheck.dir/build.make
build/CMakeFiles/ContinuousMemCheck.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousMemCheck.dir/compiler_depend.make
build/CMakeFiles/ContinuousMemCheck.dir/compiler_depend.ts
build/CMakeFiles/ContinuousMemCheck.dir/DependInfo.cmake
build/CMakeFiles/ContinuousMemCheck.dir/progress.make
build/CMakeFiles/ContinuousStart.dir/build.make
build/CMakeFiles/ContinuousStart.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousStart.dir/compiler_depend.make
build/CMakeFiles/ContinuousStart.dir/compiler_depend.ts
build/CMakeFiles/ContinuousStart.dir/DependInfo.cmake
build/CMakeFiles/ContinuousStart.dir/progress.make
build/CMakeFiles/ContinuousSubmit.dir/build.make
build/CMakeFiles/ContinuousSubmit.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousSubmit.dir/compiler_depend.make
build/CMakeFiles/ContinuousSubmit.dir/compiler_depend.ts
build/CMakeFiles/ContinuousSubmit.dir/DependInfo.cmake
build/CMakeFiles/ContinuousSubmit.dir/progress.make
build/CMakeFiles/ContinuousTest.dir/build.make
build/CMakeFiles/ContinuousTest.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousTest.dir/compiler_depend.make
build/CMakeFiles/ContinuousTest.dir/compiler_depend.ts
build/CMakeFiles/ContinuousTest.dir/DependInfo.cmake
build/CMakeFiles/ContinuousTest.dir/progress.make
build/CMakeFiles/ContinuousUpdate.dir/build.make
build/CMakeFiles/ContinuousUpdate.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousUpdate.dir/compiler_depend.make
build/CMakeFiles/ContinuousUpdate.dir/compiler_depend.ts
build/CMakeFiles/ContinuousUpdate.dir/DependInfo.cmake
build/CMakeFiles/ContinuousUpdate.dir/progress.make
build/CMakeFiles/Experimental.dir/build.make
build/CMakeFiles/Experimental.dir/cmake_clean.cmake
build/CMakeFiles/Experimental.dir/compiler_depend.make
build/CMakeFiles/Experimental.dir/compiler_depend.ts
build/CMakeFiles/Experimental.dir/DependInfo.cmake
build/CMakeFiles/Experimental.dir/progress.make
build/CMakeFiles/ExperimentalBuild.dir/build.make
build/CMakeFiles/ExperimentalBuild.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalBuild.dir/compiler_depend.make
build/CMakeFiles/ExperimentalBuild.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalBuild.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalBuild.dir/progress.make
build/CMakeFiles/ExperimentalConfigure.dir/build.make
build/CMakeFiles/ExperimentalConfigure.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalConfigure.dir/compiler_depend.make
build/CMakeFiles/ExperimentalConfigure.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalConfigure.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalConfigure.dir/progress.make
build/CMakeFiles/ExperimentalCoverage.dir/build.make
build/CMakeFiles/ExperimentalCoverage.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalCoverage.dir/compiler_depend.make
build/CMakeFiles/ExperimentalCoverage.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalCoverage.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalCoverage.dir/progress.make
build/CMakeFiles/ExperimentalMemCheck.dir/build.make
build/CMakeFiles/ExperimentalMemCheck.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalMemCheck.dir/compiler_depend.make
build/CMakeFiles/ExperimentalMemCheck.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalMemCheck.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalMemCheck.dir/progress.make
build/CMakeFiles/ExperimentalStart.dir/build.make
build/CMakeFiles/ExperimentalStart.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalStart.dir/compiler_depend.make
build/CMakeFiles/ExperimentalStart.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalStart.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalStart.dir/progress.make
build/CMakeFiles/ExperimentalSubmit.dir/build.make
build/CMakeFiles/ExperimentalSubmit.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalSubmit.dir/compiler_depend.make
build/CMakeFiles/ExperimentalSubmit.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalSubmit.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalSubmit.dir/progress.make
build/CMakeFiles/ExperimentalTest.dir/build.make
build/CMakeFiles/ExperimentalTest.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalTest.dir/compiler_depend.make
build/CMakeFiles/ExperimentalTest.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalTest.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalTest.dir/progress.make
build/CMakeFiles/ExperimentalUpdate.dir/build.make
build/CMakeFiles/ExperimentalUpdate.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalUpdate.dir/compiler_depend.make
build/CMakeFiles/ExperimentalUpdate.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalUpdate.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalUpdate.dir/progress.make
build/CMakeFiles/Nightly.dir/build.make
build/CMakeFiles/Nightly.dir/cmake_clean.cmake
build/CMakeFiles/Nightly.dir/compiler_depend.make
build/CMakeFiles/Nightly.dir/compiler_depend.ts
build/CMakeFiles/Nightly.dir/DependInfo.cmake
build/CMakeFiles/Nightly.dir/progress.make
build/CMakeFiles/NightlyBuild.dir/build.make
build/CMakeFiles/NightlyBuild.dir/cmake_clean.cmake
build/CMakeFiles/NightlyBuild.dir/compiler_depend.make
build/CMakeFiles/NightlyBuild.dir/compiler_depend.ts
build/CMakeFiles/NightlyBuild.dir/DependInfo.cmake
build/CMakeFiles/NightlyBuild.dir/progress.make
build/CMakeFiles/NightlyConfigure.dir/build.make
build/CMakeFiles/NightlyConfigure.dir/cmake_clean.cmake
build/CMakeFiles/NightlyConfigure.dir/compiler_depend.make
build/CMakeFiles/NightlyConfigure.dir/compiler_depend.ts
build/CMakeFiles/NightlyConfigure.dir/DependInfo.cmake
build/CMakeFiles/NightlyConfigure.dir/progress.make
build/CMakeFiles/NightlyCoverage.dir/build.make
build/CMakeFiles/NightlyCoverage.dir/cmake_clean.cmake
build/CMakeFiles/NightlyCoverage.dir/compiler_depend.make
build/CMakeFiles/NightlyCoverage.dir/compiler_depend.ts
build/CMakeFiles/NightlyCoverage.dir/DependInfo.cmake
build/CMakeFiles/NightlyCoverage.dir/progress.make
build/CMakeFiles/NightlyMemCheck.dir/build.make
build/CMakeFiles/NightlyMemCheck.dir/cmake_clean.cmake
build/CMakeFiles/NightlyMemCheck.dir/compiler_depend.make
build/CMakeFiles/NightlyMemCheck.dir/compiler_depend.ts
build/CMakeFiles/NightlyMemCheck.dir/DependInfo.cmake
build/CMakeFiles/NightlyMemCheck.dir/progress.make
build/CMakeFiles/NightlyMemoryCheck.dir/build.make
build/CMakeFiles/NightlyMemoryCheck.dir/cmake_clean.cmake
build/CMakeFiles/NightlyMemoryCheck.dir/compiler_depend.make
build/CMakeFiles/NightlyMemoryCheck.dir/compiler_depend.ts
build/CMakeFiles/NightlyMemoryCheck.dir/DependInfo.cmake
build/CMakeFiles/NightlyMemoryCheck.dir/progress.make
build/CMakeFiles/NightlyStart.dir/build.make
build/CMakeFiles/NightlyStart.dir/cmake_clean.cmake
build/CMakeFiles/NightlyStart.dir/compiler_depend.make
build/CMakeFiles/NightlyStart.dir/compiler_depend.ts
build/CMakeFiles/NightlyStart.dir/DependInfo.cmake
build/CMakeFiles/NightlyStart.dir/progress.make
build/CMakeFiles/NightlySubmit.dir/build.make
build/CMakeFiles/NightlySubmit.dir/cmake_clean.cmake
build/CMakeFiles/NightlySubmit.dir/compiler_depend.make
build/CMakeFiles/NightlySubmit.dir/compiler_depend.ts
build/CMakeFiles/NightlySubmit.dir/DependInfo.cmake
build/CMakeFiles/NightlySubmit.dir/progress.make
build/CMakeFiles/NightlyTest.dir/build.make
build/CMakeFiles/NightlyTest.dir/cmake_clean.cmake
build/CMakeFiles/NightlyTest.dir/compiler_depend.make
build/CMakeFiles/NightlyTest.dir/compiler_depend.ts
build/CMakeFiles/NightlyTest.dir/DependInfo.cmake
build/CMakeFiles/NightlyTest.dir/progress.make
build/CMakeFiles/NightlyUpdate.dir/build.make
build/CMakeFiles/NightlyUpdate.dir/cmake_clean.cmake
build/CMakeFiles/NightlyUpdate.dir/compiler_depend.make
build/CMakeFiles/NightlyUpdate.dir/compiler_depend.ts
build/CMakeFiles/NightlyUpdate.dir/DependInfo.cmake
build/CMakeFiles/NightlyUpdate.dir/progress.make
build/CMakeFiles/tinyrenderer.dir/build.make
build/CMakeFiles/tinyrenderer.dir/cmake_clean.cmake
build/CMakeFiles/tinyrenderer.dir/compiler_depend.internal
build/CMakeFiles/tinyrenderer.dir/compiler_depend.make
build/CMakeFiles/tinyrenderer.dir/compiler_depend.ts
build/CMakeFiles/tinyrenderer.dir/depend.make
build/CMakeFiles/tinyrenderer.dir/DependInfo.cmake
build/CMakeFiles/tinyrenderer.dir/flags.make
build/CMakeFiles/tinyrenderer.dir/link.txt
build/CMakeFiles/tinyrenderer.dir/progress.make
build/CMakeFiles/tinyrenderer.dir/src/main.cpp.o
build/CMakeFiles/tinyrenderer.dir/src/main.cpp.o.d
build/CMakeFiles/tinyrenderer.dir/src/model.cpp.o
build/CMakeFiles/tinyrenderer.dir/src/model.cpp.o.d
build/CMakeFiles/tinyrenderer.dir/src/tgaimage.cpp.o
build/CMakeFiles/tinyrenderer.dir/src/tgaimage.cpp.o.d
build/Testing/Temporary/LastTest.log
